.navbar-brand {
  font-weight: bold;
  font-size: 16pt;
  color: black !important;
  width: 300px;
}

.navbar-brand img {
  height: 80px;
  float: left;
  margin-right: 10px;
}

body.logged-in #search-container {
  top: 79px;
}

#search-container {
  background-color: steelblue;
  padding: 5px;
  .hidden-xs();
  .hidden-sm();
}

#search-container label {
  color: white;
  margin-left: 100px;
}

#search-form {
  width: 200px;
  float: right;
}

#search-form #s {
  height: 22px;
}